.border {
  border: 2px solid aqua;
  border-radius: 5px;
  background-color: aquamarine;
  margin: 1.5%;
}

.border:hover {
  box-shadow: 2px 2px 2px 2px;
}

.grid {
  display: grid;
  grid-template-columns: 35% auto;
}

.subGrid {
  display: grid;
  grid-template-columns: 13% auto 45%;
  text-decoration: none;
  color: black;
}

.vLine {
  width: 1px;
  height: 100%;
  background-color: rgb(154, 154, 154);
}

.title {
  font-size: 25px;
  font-weight: bold;
}

.content {
  padding: 1%;
}

.vote {
  margin-top: 1%;
}

.display {
  padding: 0.5%;
}

.toggle {
  cursor: pointer;
}

.toggle:hover {
  color: violet;
}

.change {
  color: violet;
}

.comment {
  margin-top: 0.5%;
  cursor: pointer;
}

.comment:hover {
  color: violet;
}

.commentGrid {
  display: grid;
  grid-template-columns: 16% auto;
  border: 2px solid black;
  border-radius: 5px;
  padding: 1%;
  margin-bottom: 1%;
  margin-top: 1%;
}

.commentSubGrid {
  display: grid;
  grid-template-columns: 20% auto 6%;
  text-decoration: none;
  color: black;
}

.commentInputGrid {
  display: grid;
  grid-template-columns: 50% 15%;
  margin-bottom: 1%;
}

.button {
  margin-left: 10%;
  border-radius: 5px;
  font-size: 19px;
  background-color: white;
  color: orange;
  cursor: pointer;
  border-color: orange;
}

.button:hover {
  background-color: orange;
  color: white;
}

.textarea {
  padding: 1%;
}
